#sequence {
    display: none;
    color: white;
}

#key {
    font-size: 48px;
    margin-top: 20px;
    text-align: center;
}

#feedback {
    font-size: 36px;
    margin-top: 10px;
    text-align: center;
}

#score {
    font-size: 36px;
    margin-top: 10px;
    text-align: center;
}

#game-ui {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 35%;
    background-color: #111;
    border-top: 4px solid #00aaff; /* The Blue Line */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

#fallingLetters {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}